extends layout

block title
    if single_post
        title #{entries[0].attributes.title}
    else
        title TinyCranes • Blog
block description
    if single_post
        meta(name="description" content="#{entries[0].attributes.description}")
    else
        meta(name="description" content="Software design and development. I build things. Let's chat!")

block header
    include header

block content

    div.entry

        for entry in entries

            article
                header
                    // titles should not exceed 45 chars... as h2?
                    if single_post
                        h2 #{entry.attributes.title}
                    else
                        h2
                            a(href="/blog/"+entry.moment.format("YYYY/MM")+"/#{entry.slug}/") #{entry.attributes.title}

                    time(datetime="#{entry.attributes.datetime}") #{entry.moment.format("DD MMMM YYYY")}

                if entry.attributes.image
                    img.splash(src="#{entry.attributes.image}")

                //- A preview is generated if the body is longer than 600 chars ...
                //- See line 15 in shared.coffee

                if entry.preview && !single_post
                    section.collapse
                        div.text !{entry.preview}
                        //- div.gradient
                    div.overflow: a(href="/blog/"+entry.moment.format("YYYY/MM")+"/#{entry.slug}/") Read More ...

                else
                    section !{entry.body}

        aside: sub Disclaimer: The views and opinions expressed on this blog are purely my own.
