extends layout

block title
    title TinyCranes • Portfolio

block header
    include header

block content

    div.table-of-contents
        div.contents

            h2 Professional Work
            section
                p I am currently a software development engineer with <a href="https://games.amazon.com/">Amazon Game Studios</a>. When I'm not performing 💡⚗🔬 mad science experiments, I write gameplay, systems, and UI/UX code for <a href="https://playbreakaway.com">Breakaway</a> and New World. Stay tuned for some awesome announcements!
                p Previously, I was a software development engineer intern inside <a href="http://aws.amazon.com">Amazon Web Services</a>. I was exposed to a variety of image processing and video encoding domain topics while working on real-time streaming backends. Before that, I was a summer student at the <a href="http://www.nrl.navy.mil/">United States Naval Research Laboratory</a>. I performed research on experimental and theoretical projects in fields of study including: underwater electrical discharges, target tracking, and parallel computing.
                p For more details, check out my <a href="documents/resume.pdf">résumé</a>.

            h2 Undergraduate Portfolio
            section
                p I completed the following projects as a student in the <a href="http://www.hass.rpi.edu/pl/gaming/">Games and Simulation Arts and Sciences</a> program at <a href="http://rpi.edu/">Rensselaer Polytechnic Institute</a>. I've collaborated with many people; you should check our their portfolios too!
                div.items: ul
                    for i in items
                        li: a(href="##{i.slug}") #{i.attributes.title}


    div.portfolio-items.pure-g
        div.constraint
            for i in items
                div.pure-u-1.pure-u-sm-1-1.pure-u-md-1-2.pure-u-lg-1-2.pure-u-xl-1-3(id="#{i.slug}")
                    div.portfolio-card
                        if i.attributes.image
                            img(src="assets/#{i.attributes.image}")

                        div.portfolio-content
                            h2 #{i.attributes.title}
                            h3 #{i.attributes.subtitle}
                            if i.attributes.links
                                aside.portfolio-links
                                    for val, key in i.attributes.links
                                        a.cutout(href="#{val}") #{key}
                            div !{i.body}
