extends layout

block title
    title TinyCranes • Portfolio

block content

    section.table-of-contents
        div.contents
            h2 Professional Work
            //- AGS; Prior to that, I've ...
            p This past summer, I was a software development engineer intern inside <a href="//aws.amazon.com">Amazon Web Services</a>, where I was exposed to a variety of image processing and video encoding domain topics. Prior to that, I interned at the <a href="//www.nrl.navy.mil/">United States Naval Research Laboratory</a>, where I performed research on a number of experimental and theoretical projects in fields of study including: underwater electrical discharges, target tracking, and parallel computing.

            Previously
            p For more details, check out my <a href="documents/resume.pdf">résumé</a>.

            h2 Undergraduate Portfolio
            p The following projects were completed while I was an undergraduate student in the <a href="//www.hass.rpi.edu/pl/gaming/">Games and Simulation Arts and Sciences</a> program at <a href="//rpi.edu/">Rensselaer Polytechnic Institute</a>. I'm no stranger to teamwork, having collaborated with others on a fair number of projects.

            div.items: ul
                for i in items
                    li: a(href="##{i.slug}") #{i.attributes.title}

    section.portfolio-items.pure-g

        for i in items
            div.pure-u-1.pure-u-sm-1-1.pure-u-md-1-1.pure-u-lg-1-2.pure-u-xl-1-3
                div.portfolio-card(id="#{i.slug}")
                    if i.attributes.image
                        img(src="assets/#{i.attributes.image}")

                    div.portfolio-content
                        h2 #{i.attributes.title}
                        h3 #{i.attributes.subtitle}
                        if i.attributes.links
                            aside.portfolio-links
                                for val, key in i.attributes.links
                                    a.cutout(href="#{val}") #{key}
                        div !{i.body}
